/*
 * Empty Stylesheet file.
 */

#settingReturn {
    -fx-background-image: url("/icons/return.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 64px;
}

#imagePane {
    -fx-background-image: url("/icons/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: inherit;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}