.mainPane {
    -fx-background-color: #4d4d4d;
}
/*SIDEBAR*/
#sideBarPane {
    -fx-background-color: #333333;
}

.sideBarButton {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

.sideBarButton:hover {
    -fx-background-color: #fafafa;
    -fx-background-radius: 8 0 0 8;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

.sideBarButton:selected {
    -fx-background-color: #fafafa;
    -fx-background-radius: 8 0 0 8;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

.sideBarButtonLabel {
    -fx-text-fill: white;
}

.settingNavigationButton {
    -fx-background-color: #d9d9d9;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}
/*END OF SIDEBAR*/

/*Main page*/
.featureText {
    -fx-text-fill: black;
}

.settingNavigationButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-width: 1px;
    -fx-background-insets: 2px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
}

.settingNavigationButton:selected {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#aboutFocalorsButton {
    -fx-background-color: transparent;
}

#imagePane {
    -fx-background-image: url("/icons/logo_smaller.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}

#promotionPane {
    -fx-background-image: url("/icons/promotion.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: inherit;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}

.resistorColor:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.resistorColor:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.capacitorColor:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.capacitorColor:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.wireColor:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.wireColor:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.amplifierPrefButton:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 16px;
}

.amplifierPrefButton:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 16px;
}