#homePane {
    -fx-background-color: linear-gradient(to right, #fafafa 0%, #d6d6d6 50%, #fafafa 100%);
    -fx-background-image: url("/icons/background_image.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#firstFeedbackPane {
    -fx-background-image: url("/icons/feedbackBg.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#secondFeedbackPane {
    -fx-background-image: url("/icons/secondFeedbackBG.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#goToGithubButton:hover {
    -fx-underline: true;
}

#emailLinkText:hover {
    -fx-underline: true;
}

.opAmpTypeButton:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 16px;
}

/*SIDEBAR*/
#sideBarPane {
    -fx-background-color: #333333;
}

.sideBarButton {
    -fx-background-color: transparent;
    -fx-background-radius: 8 0 0 8;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

.sideBarButton:hover {
    -fx-background-color: #fafafa;
}/*

.sideBarButton:selected {
    -fx-background-color: #fafafa;
    -fx-background-radius: 8 0 0 8;
    -fx-border-color: none;
    -fx-border-width: 0px;
}*/

.sideBarButtonHighlight {
    -fx-background-color: #fafafa;
    -fx-background-radius: 8 0 0 8;
}

.sideBarButtonLabel {
    -fx-text-fill: black;
}
/*END OF SIDEBAR*/

#homePagePane {
    -fx-background-color: white;
}

/*Main page*/
.featureText {
    -fx-text-fill: black;
}

#aboutFocalorsButton:hover {
    -fx-underline: true;
}

#primaryButton {
    -fx-background-color: #0066cc;
    -fx-background-radius: 32;
}

.navigationBackButton {
    -fx-background-color: #ff3131;
    -fx-background-radius: 16;
}

.navigationProceedButton {
    -fx-background-color: #7ed957;
    -fx-background-radius: 16;
}

.summarySavedButton {
    -fx-background-color: #0066cc;
    -fx-background-radius: 16;
}

.settingNavigationButton {
    -fx-background-color: #5ce1e6;
    -fx-border-color: #0066cc;
    -fx-border-radius: 8px 0px 0px 8px;
    -fx-background-insets: 1px;
}

.midNav.settingNavigationButton {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-radius: 0px 0px 0px 0px;
}

.endNav.settingNavigationButton {
    -fx-border-radius: 0px 8px 8px 0px;
}

.settingNavigationButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 8px 0px 0px 8px;
}

.settingNavigationButton:selected {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 8px 0px 0px 8px;
}

#aboutFocalorsButton {
    -fx-background-color: transparent;
}

#imagePane {
    -fx-background-image: url("/icons/newlogo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}

.resistorColor:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.resistorColor:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.capacitorColor:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.capacitorColor:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.wireColor:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.wireColor:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 24px;
}

.amplifierPrefButton:hover {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 16px;
}

.amplifierPrefButton:selected {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 16px;
}