/*
 * Empty Stylesheet file.
 */

#settingReturn {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#settingReturn:hover {
    -fx-background-color: #38b6ff;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#returnHomeButton {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#returnHomeButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#tutorialButton {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#tutorialButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#settingButton {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#settingButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#feedbackButton {
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#feedbackButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-color: none;
    -fx-border-width: 0px;
}

#appearanceButton {
    -fx-background-color: #d9d9d9;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#appearanceButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-width: 1px;
    -fx-background-insets: 2px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
}

#appearanceButton:selected {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#behaviorButton {
    -fx-background-color: #d9d9d9;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#behaviorButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#behaviorButton:selected {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#accuracyButton {
    -fx-background-color: #d9d9d9;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#accuracyButton:hover {
    -fx-background-color: #38b6ff;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#accuracyButton:selected {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#estimateButton {
    -fx-background-color: #d9d9d9;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#estimateButton:hover {
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
    -fx-background-color: #38b6ff;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
}

#estimateButton:selected {
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: #0066cc;
    -fx-border-radius: 5px;
    -fx-background-insets: 2px;
}

#aboutFocalorsButton {
    -fx-background-color: transparent;
}

#imagePane {
    -fx-background-image: url("/icons/logo_smaller.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 300;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}

#promotionPane {
    -fx-background-image: url("/icons/promotion.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: inherit;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}

#accuracyPane {
    -fx-background-color: #00cc66;
}

#estimationPane {
    -fx-background-color: #67f5a9;
}