/*
 * Empty Stylesheet file.
 */

#settingReturn {
    -fx-background-image: url("/icons/terminal.png");
    -fx-background-color: #00cc66;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 32px;
}

#imagePane {
    -fx-background-image: url("/icons/sc.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
}

#appearancePane {
    -fx-background-color: #0066cc;
}